@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <li class="active"><a>@User.Email</a></li>
    <li class="active"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else
{
    <li class="active">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="active">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
